@model AadritChauhanProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Teacher Details</h2>

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
    <p>
        <b>Teacher Name:</b> @Model.Teacher_fname @Model.Teacher_lname
    </p>
</div>

<div><p><b>Teacher Id:</b> @Model.TeacherId</p></div> <div><p><b>Teacher Salary:</b> @Model.Salary</p></div>

<div><p><b>Hire Date:</b> @Model.HireDate</p></div>

